<h1 class="mt-2">Atendimento Médico</h1>
<br />
<div class="row">
  <div class="col-md-12">
    <table class="table table-condensed table-hover">
      <thead>
        <th>Nome</th>
        <th>Nome Social</th>
        <th>Dat. Nacimento</th>
        <th>Dat. Entrada</th>
        <th>Risco</th>
        <th>Tempo</th>
        <th>Qtd Risco</th>
        <th>Ação</th>
      </thead>
      <tbody>
        <tr *ngFor="let recepcao of lstRecepcaoDto">
          <td>{{ recepcao.nome }}</td>
          <td>{{ recepcao.nomeSocial }}</td>
          <td>{{ recepcao.dataNascimento }}</td>
          <td>{{ recepcao.dataInicio }}</td>
          <td>{{ recepcao.pathImg }}</td>
          <td>{{ 10 }}</td>
          <td>{{ recepcao.qtdRisco }}</td>
          <td>
            <button
              class="btn btn-primary"
              data-bs-toggle="tooltip"
              title="Classificação de risco"
              (click)="admissaoPacienteByState(recepcao)" >
              <i class="fas fa-book-medical fa-lg"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

